$bg-gray: #262A33;
$frame-gray: #1E222B;
$accent: #DE6012;
$headers: white;
$text: gray;
$button-hover: #2E323D;

//---------------------- TYPOGRAPHY --------------------

body {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    line-height: 1em;
    font-family: 'Poppins', sans-serif;
    color: $text;
    font-size: 14px;
}

.small {
    font-size: 10px;
}

h1 {
    color: $headers;
    font-weight: 600;
    font-size: 26px;
}

h2 {
    font-weight: 500;
    color: $accent;
    font-size: 24px;
}

h3 {
    font-weight: 500;
    color: $headers;
    font-size: 18px;
}

h4 {
    font-weight: 500;
    color: $headers;
    font-size: 16px;
}

h5 {
    font-weight: 500;
    color: $headers;
    font-size: 14px;
}

h6 {
    font-weight: 500;
    color: $headers;
    font-size: 12px;
}

//----------------------- CONTAINTERS --------------------

* {
    box-sizing: border-box;
}

body {
    background-color: $bg-gray;
    margin: 0px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mframe {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background-color: $frame-gray;
    padding: 30px 40px;
    gap: 20px;
    margin: 15px 0px;
}

//------------------------- BUTTON SECTION ------------------

.button-section {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: $bg-gray;
    border-radius: 8px;
    padding: 10px 18px;
    text-decoration: none;
    transition-duration: 0.4s;
    width: 100%;
}

.mov-icons {
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
    background-color: $frame-gray;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
}

.mov-icons div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 7px;
}

.two-arrows {
    display: flex;
    gap: 12px;
}

.orange-arrow {
    color: $accent;
}

.white-arrow {
    color: $headers;
}

.button-section:hover {
    background-color: $button-hover;

    .mov-icons div {
        top: 0;
        left: 40%;
    }
}

.desc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex: 1 0 0px;
    gap: 15px;

    h3 {
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    p {
        margin-block-start: 0px;
        margin-block-end: 0px;
        color: $text;
    }
}

//--------------------------- NAVIGATION -------------------------

.mframe.topnav {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    align-items: center;
    padding: 0px;
    margin: 0px 0px 15px 0px;    
}

div.nav {
    display: flex;
    gap: 20px;
    width: min-content;
    height: min-content;
    flex: none;
}

a.nav {
    align-items: center;
    width: 100%;
    height: 100%;
    //margin: 15px 5px;
    display: flex;
    font-size: 22px;
    color: $headers;
    text-decoration: none;
    position: relative;

    i {        
        margin-right: auto;
        margin-left: auto;
    }

}

.nav-button {
    display: block;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 28px;
    height: 28px;    
    margin: 15px 5px;
}

.label-position {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    top: 0;
    left: 0;
    transition-duration: 0.4s;
    opacity: 0;
}

.label-position p {
    position: absolute;
    background-color: $button-hover;
    border-radius: 8px;
    font-size: 12px;
    color: $headers;
    padding: 5px 8px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.nav-button:hover {
    .label-position {
        top: 120%;
        opacity: 1;
    }
}

//---------------------- HERO ---------------------------

.mframe.intro {
    align-items: center;
    gap: 10px;
    padding: 40px;
}

.intro img {
    width: 88px;
    height: 88px;
    border-radius: 60px;
}

.intro p {
    text-align: center;
    width: 255px;
    margin: 0;
    line-height: normal;
}

.intro h1 {
    margin: 0;
}

.smedia {
    display: flex;
    align-items: center;
    flex: none;
    gap: 10px;
    width: min-content;
    height: min-content;
    margin: 5px;
}

.smedia a {
    display: flex;
    align-items: center;
    width: 22px;
    height: 22px;
    font-size: 18px;
    color: $accent;
    text-decoration: none;

    i {
        margin-right: auto;
        margin-left: auto;
    }
}

//-------------------------- PROJECTS ------------------------

.mframe.projects {
    flex-wrap: nowrap;
}

.pro-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
    gap: 20px;
}

a.projects {
    div.desc {
        min-width: 200px;
    }

    img {
        width: 70px;
        height: 70px;
        margin: 0px 5px;
        border-radius: 10px;
    }

}

//--------------------------- SERVICES ----------------------

.mframe.services {
    flex-wrap: nowrap;
}

a.button-section.services {
    gap: 30px;
    padding: 15px 18px;
}

div.img-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: min-content;
    padding: 0px;
    min-width: 200px;
    flex: 1 0 0px;

    img {
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }

    h3 {
        color: $headers;
        margin-block-start: 5px;
        margin-block-end: 5px;
    }

    p {
        color: $text;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
}

//------------------------------- TOOLS ----------------------

.tools-cont {
    display: flex;
    width: 100%;
    height: min-content;
    gap: 20px;
}

.tool-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

a.tools {
    padding: 18px;

    img {
        width: 48px;
        height: 48px;
        border-radius: 10px;
    }

    div.desc {
        min-width: 100px;
    }
}

//------------------------------- BLOG --------------------------

a.blog {
    gap: 30px;
    padding: 15px 18px;
}

div.blog-post {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    flex: 1 0 0px;

    h3 {
        color: white;
        margin-block-start: 5px;
        margin-block-end: 5px;
    }

    p {
        color: gray;
        margin-block-start: 5px;
        margin-block-end: 5px;
    }
}

.small-print {
    display: flex;
    width: 100%;

    p.date {
        margin-right: auto;
    }

    p.time {
        margin-left: auto;
    }
}

//---------------------- CALL TO ACTION ------------------------

.mframe.callta {
    align-items: center;
    gap: 10px;

    h2 {
        max-width: 50%;
        margin-block-start: 5px;
        margin-block-end: 5px;
        line-height: 1.4em;
        text-align: center;
        color: $headers;
    }
}

.simple-button {
    background-color: $bg-gray;
    padding: 8px 50px;
    border-radius: 4px;
    text-decoration: none;
    color: $headers;
    transition-duration: 0.4s;
}

.simple-button:hover {
    color: $accent;
}

//-------------------------------- FOOTER ----------------------------

.mframe.footer {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    align-items: center;
    padding: 20px 0px;
    gap: 20px;
    margin: 15px 0px 0px 0px;
}

.footer h3 {
    color: $accent;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.bottom-nav {
    display: flex;
    gap: 20px;

    a {
        text-decoration: none;
        color: $text;
    }
}

.separator {
    width: 70%;
    border-color: $text;
    border-style: none none solid none;
    border-width: 1px;
}

.bottom-print {
    text-decoration: none;
    color: $text;
    font-size: 12px;
}